.footer {
	position: relative; width: 100%; height: auto;
	display: block; padding: 3.5rem 1.667rem 2.8rem; 
	font-size: 1rem; font-weight: 400; line-height: 1.25;
}
.footer .wrapper {
	position: static; 
	width: 100%; height: auto;
	display: flex; flex-direction: column; justify-content: center; align-items: center;
}
.button__wrapper {
	display: block; width: 100%; height: 5.83rem;
	position: absolute; top: -3.3rem;
}
.footer__button {
	display: flex; flex-direction: column; justify-content: center; align-items: center; width: 5.83rem; height: 100%;
	position: relative; margin: auto; cursor: pointer;
	border-radius: 50%;
	font-size: 1.15rem; font-weight: bold; text-transform: uppercase; line-height: 1.2;
}
.footer__button p {width: 80%; height: auto; padding-bottom: 0.7rem;}
.footer__button p:first-child {height: 2.3rem; background: url(../img/top_arrow.png) 50% 50% no-repeat; background-size: contain;}

.footer_logo {display: block; width: 45%; height: 3.55rem; text-align: right;}
.footer_logo a {
	display: block;
	position: relative; 
	width: 100%; height: 100%;
	background: url(../img/logo.png) 50% 50% no-repeat; background-size: contain;
}

.footer__info {position: relative; width: auto; height: auto;}
.footer__info_logo {
	display: block; width: 100%; height: 4.167rem;
	position: relative; 
	background: url(../img/gglogo.png) 50% 70% no-repeat; background-size: auto 2rem;
}
.footer__aside {display: block; width: auto; height: auto;}
.footer__button_aside {
	position: relative; cursor: pointer;
	width: auto; height: auto;
	margin: auto; margin-top: 2rem;
	display: flex; justify-content: center; align-items: center; 
	font-size: 1.2rem; text-transform: uppercase; font-weight: bold;
	.button-wrapp {
		padding: 1rem 1.5rem; height: auto;
	}
}

/*adaptivity*/
	/*mobile*/
	@media only screen and (min-width: 320px) {
		
	}
	/*tablets*/
	@media only screen and (min-width: 768px) {
		
	}
	/*desktop or tablets in landscape*/
	@media only screen and (min-width: 1000px) {
		.footer {
			height: auto;
		}
		.footer .wrapper {position: relative; width: 950px; margin: auto; flex-direction: row; align-items: flex-end; justify-content: space-between;}
		.button__wrapper {top: -6rem; height: 4.4rem;}
		.footer__button {width: 4.4rem; font-size: 0.82rem;}
		.footer__button p:first-child {height: 1.7rem;}
		.privacy {display: block; padding-top: 3rem;}
		
		.footer_logo, .footer__aside {width: 26%;}
		.footer__info {width: 44%;} 
		.footer_logo a {background-size: 13rem;}
		.footer__contacts {
			display: block; width: 100%; padding-top: 1.5rem; text-align: right;
			font-size: 1.16rem; 
		}
		.footer__contacts > span {text-transform: uppercase; text-decoration: underline;}
	}

	/*wideview monitor*/
	@media only screen and (min-width: 1280px) {
		
	}
	/*supperwide view monitor*/
	@media only screen and (min-width: 1920px) {
		.footer {background-size: 130% 33rem;}
		.footer .wrapper {width: 51.5%;}
	}