.header {
	position: relative; width: 100%; height: auto; padding: 1.9rem 1.667rem 2.083rem;
	font-size: 1.167em; font-weight: 400; line-height: 1.25;
	.wrapper {
		position: relative; width: 100%; height: auto;
		display: flex; flex-direction: column; justify-content: center; align-items: center;
		.img {
			position: relative; width: 90%; height: 19.16rem;
			background: url(../img/stanok_price.png) 50% 50% no-repeat; background-size: 100% auto;
		}
	}
}

.header__info {
	display: flex; flex-direction: row; justify-content: space-between; align-items: flex-end; flex-wrap: wrap;
	width: 100%; height: auto;
	font-size: 1.23rem; font-weight: bold; 
}
.header__info_logo,
.header__info_description {display: block; width: 45%; height: 3.55rem; text-align: right;}
.header__info_description {
	height: auto;
	p {
		margin: 0;
	}
}
.header__info_logo a {
	display: block;
	position: relative; 
	width: 100%; height: 100%;
	background: url(../img/logo.png) 50% 50% no-repeat; background-size: contain;
}
.header_text {
	padding-top: 2rem; text-align: center;
	font-size: 1.3rem; font-weight: bold; line-height: 1.1;
}
.header_text div:first-child {text-transform: uppercase;}

.header_button {
	position: relative; cursor: pointer;
	width: auto; height: auto;
	margin: auto; margin-top: 2rem;
	display: flex; justify-content: center; align-items: center; 
	font-size: 1.23rem; text-transform: uppercase; font-weight: bold;
	.button-wrapp {
		padding: 1rem 1.5rem; height: auto;
	}
}

/*adaptivity*/
	/*mobile*/
	@media only screen and (min-width: 320px) {
		
	}
	/*tablets*/
	@media only screen and (min-width: 768px) {
		
	}
	/*desktop or tablets in landscape*/
	@media only screen and (min-width: 1000px) {
		.header{
			.wrapper {
				width: 950px; margin: auto;
				.img {width: 54%; height: 23.16rem;}
			}
		}
		.header__info {justify-content: space-between;}
		.header__info_logo {width: 12.25rem;}
		.header__info_description {
			width: auto; text-align: left;
		}
		.header_text {padding-top: 5.5rem; font-size: 2.13rem; line-height: 1.25;}
		.header_text div:last-of-type {
			padding-top: 0.5rem;
			br {display: none;}
		}
		
		.header_button {font-size: 1.29rem; margin: 0;}
	}

	/*wideview monitor*/
	@media only screen and (min-width: 1280px) {
		
	}
	/*supperwide view monitor*/
	@media only screen and (min-width: 1920px) {
		.header .wrapper {width: 49.5%;}
	}
